.searchTable {
  /* container */
}

.searchCard {
  margin-bottom: 16px;
}

.tableCard {
  /* container */
}

.toolbar {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
